{% extends 'base.html.twig' %}
{% block title %}{{ program.title }} - Season {{ season.number }}{% endblock %}

{% block body %}
    <h1>{{ program.title }} - Season {{ season.number }}</h1>

    <h2>Episodes:</h2>
    <ul>
        {% for episode in episodes %}
            <li>{{ episode.title }} - Episode {{ episode.number }}</li>
        {% endfor %}
    </ul>
{% endblock %}