{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <img src="{{program.poster}}" alt="{{ program.title }} poster">
            <h1{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
    {# <h2>{{ program.title }}</h2>

    <h3>Seasons:</h3>
    <ul>
        {% for season in program.seasons %}
            <li><a href="{{ path('program_season_episode_show', {'programId': program.id, 'seasonId': season.id, 'episodeId' : episode.id}) }}">{{ season.number }}{{ episode.number }}</a></li>
        {% endfor %}
    </ul> #}

{% endblock %}